# Conexión a tu Postgres en el VPS
# Formato: postgresql://usuario:password@HOST:PUERTO/proyecto_huechuraba
DATABASE_URL=postgresql://usuario:password@IP_SERVIDOR:5432/proyecto_huechuraba

# Permitir peticiones desde tu web
CORS_ORIGIN=https://web.proyectosfranco.cl

# Si más adelante usas JWT
JWT_SECRET=cambia_esto
